<div ng-controller="headerController">
	<div class="row" style="background-color: white; height: 20px; font-size: 12px;">
		<div class="col-md-offset-2 col-md-8">
			<div class="col-md-2 text-center">
				<div>
					<label><a ng-href="{{mylink}}" style="color: black;">{{header_name}}</a></label>

				</div>
			</div>
			<div class="col-md-4">
				<label style="font-size: 12px;">| &nbsp;&nbsp;</label> <a href=""
					class="table-hover" style="font-size: 12px;">Sell</a> <label
					style="font-size: 12px;">&nbsp;&nbsp; | &nbsp; &nbsp; </label> <a
					href="" class="table-hover" style="font-size: 12px;">Help &
					Contact</a>
			</div>
			<div class="col-md-offset-8" style="font-size: 12px;">
				<div class="col-md-3 text-right" ng-hide="logout_lbl">
					<label ng-click="logout();">Logout</label>
				</div>
				<div class="col-md-4 text-right">
					<label>My ebay</label>
				</div>
				<div class="col-md-offset-5 text-left">
					<a href=""><img width="18" height="18" alt="cart"
						src="images/cart.png" /><span class="badge">3</span></a>
				</div>
			</div>
		</div>
		<header role="banner" class="row col-md-offset-2 col-md-8">
			<table>
				<tbody>
					<tr>
						<td class="col-md-1 text-left"><a href="home"><img role="presentation" height="50"
								width="120" alt="eBay" src="images/logo.png" /></a></td>
						<td class="col-md-2">
							<div class="dropdown" style="font-size: 12px;">
								<button class="dropdown-toggle" data-toggle="dropdown"
									style="border-style: none; background-color: #f3f3f3; white-space: normal;">
									Shop by Category &nbsp;<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Electronics</a></li>
									<li><a href="#">Music & Media</a>
										<ol style="list-style-type: none;">
											<li><a href="#">Second level link</a></li>
											<li><a href="#">Second level link</a></li>
											<li><a href="#">Second level link</a></li>
											<li><a href="#">Second level link</a></li>
											<li><a href="#">Second level link</a></li>
										</ol></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Collectible & Art</a></li>
									<li><a href="#">Home & Garden</a></li>
									<li><a href="#">Motors</a></li>
									<li><a href="#">Business & Industrial</a></li>
									<li><a href="#">Toys & Hobbies</a></li>
									<li><a href="#">Sporting Goods</a></li>
								</ul>
							</div>
						</td>
						<td class="col-md-8">
							<form class="form-inline">
								<div class="form-group">
									<input type="text" size="40" class="form-control"
										placeholder="Search..." ng-model="search_txt"
										required="required" />
								</div>
								<div class="form-group">
									<select ng-model="search_category"
										class="form-control ng-pristine ng-untouched ng-valid ng-not-empty col-md-4">
										<option label="All Categories" value="All Categories"
											selected="selected">All Categories</option>
										<option label="Electronics" value="Electronics">Electronics</option>
										<option label="Music & Media" value="Music & Media">Music
											& Media</option>
										<option label="Fashion" value="Fashion">Fashion</option>
										<option label="Collectible & Art" value="Collectible & Art">Collectible
											& Art</option>
										<option label="Home & Garden" value="Home & Garden">Home
											& Garden</option>
										<option label="Motors" value="Motors">Motors</option>
										<option label="Sporting Goods" value="Sporting Goods">Sporting
											Goods</option>
										<option label="Business & Industrial"
											value="Business & Industrial">Business & Industrial</option>
										<option label="Toys & Hobbies" value="Toys & Hobbies">Toys
											& Hobbies</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary"
									ng-click="search();">Search</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</header>
	</div>
</div>